In [2]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

df = pd.read_csv('data/quora_duplicate_questions.tsv', 
                 sep ='\t',index_col = 0  ).dropna() #had to drop na, 1 in queston1 and 2 in question2



X = df[['question1','question2']]
y = df['is_duplicate']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [3]:
training = X_train.copy()
training['is_duplicate'] = y_train.copy()

testing = X_test.copy()
testing['is_duplicate'] = y_test.copy()

In [4]:
training.to_csv('data/training.csv')
testing.to_csv('data/testing.csv')

In [4]:
df.head()

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
training.head()

,question1,question2,is_duplicate
id,,,
667,What is fermentation? What are some products o...,What are some fermented products?,0
178769,What are the effects of the divided government...,What are the effects of the divided government...,0
365554,Do employees at McDonald's have a good work-li...,Do employees at Walmart have a good work-life ...,0
56745,What is it like to be newly wed?,What do newly weds do on their honeymoon?,0
15608,How do I delete old gmail accounts?,How do I know if my WhatsApp account has been ...,0